body{
    font-family: 'Open Sans', sans-serif;
    background-color: snow;
    color: chocolate;
}

.corpo{
    margin: 0 auto;
    width: 960px;
}
h1, h2, h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    color: crimson;
    margin-top: 3px;
    margin-bottom: 5px;
}
h2{font-size: 22px;}
h3{font-size: 20px;}
a{color: darkgoldenrod}
header, footer, .redes-sociais, .tecnologias{
    text-align: center;
}
.mail{ width: 250px;
    height: 20px;
    display: inline-block;
    padding-left: 21px;
    background-image: url(email.png);
    background-repeat: no-repeat;
    text-align: left;}

.telefone{width: 250px;
    height: 20px;
    display: inline-block;
    padding-left: 21px;
    background-image: url(telefone.png);
    background-repeat: no-repeat;
    text-align: left;}

.redes-sociais li{ display: inline-block;}

.redes-sociais li a{ display: inline-block;}

.ico{ width: 40px;  
    height: 40px;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: 7000px;
    display: inline-block;}

.linkedin{background-image: url('linkedin.png');}
.github{background-image: url('github.png');}
.facebook{background-image: url('facebook.png');}
.devcard{background-image: url('devcard.png');}

.projetos h3{text-align: center}

.projetos ul{width: 700px; margin: 0 auto;}

.projetos li{margin-bottom: 7px; 
    margin-top: 7px;
    padding-left: 24px;
    background-image: url('projetos.png');
    background-repeat: no-repeat;
}

.projetos li: hover{background-image: url('projetos2.png');
    color: firebrick}

a: hover{color: firebrick}

h3{margin-top: 20px;
    margin-bottom: 15px;
    border-bottom: 2px solid #ffffff}
    
.tecnologias ul{width: 700px;
                margin: 0 auto}

.tecnologias li{display: inline-block;
                width: 150px;
                border: 1px solid #ffffff;
                padding: 8px;
                margin: 3px;}
